<h1 class="title">Events</h1>

<h2 class="subtitle">Past events</h2>
<%= render 'listing', events: @events.past %>

<h2 class="subtitle">Upcoming events</h2>
<%= render 'listing', events: @events.upcoming %>

<br />

<%= link_to 'New event', new_event_path %>
<br />
